.title{
    display: flex;
    width: 100%;
    justify-content: center;
}

.chatroomcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    .head{
        margin-right: 1rem;
    }
    .body{

    }
}